.body-div {
  background-color: #E5E5E5;
  padding-bottom: 5%;
}

.centered {
  margin: auto;
  width: 50vw;
}

.image-group {
  position: relative;
  /* overflow: auto; */
}

.clear {
  clear: both;
}

.recipeImg {
  /* position: absolute; */
  height: auto;
  width: 50vw;
  /* max-height: fit-content;
  max-width: fit-content; */
  border-radius: 3%;
  z-index: 0;
}

/* #favorite {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 0;
  z-index: 1;

} */

#faHeart {
  font-size: 5vw;
  position: absolute;
  padding: 0;
  z-index: 1;
  padding-right: 0.5%;
  right: 5px;
  color: rgba(255, 0, 0, 0.557);
  border-color: black;
}

