#logo {
  width: 40%;
   height: 40%;
   display: flex;
  /* position: static; */
}

#userIcon {
  width: 25%;
   height: 25%;
   border-radius: 50%;
   position: static;
        top: 0px;
        right: 0px;
}

.navbar {
  width: 100vw;
  height: fit-content;

}

#logout {
  margin: 30vh;
  margin: 10vw;
}


.navLinks {
  padding-right: 10%;
}



/* .nav-link {
  width: auto;
  height: fit-auto;
} */
