#logo {
  width: 40%;
   height: 40%;
   display: flex;
  /* position: static; */
}

#userIcon {
  width: 25%;
   height: 25%;
   border-radius: 50%;
   position: static;
        top: 0px;
        right: 0px;
}

.navbar {
  width: 100vw;
  height: fit-content;
}
.container-fluid {
  overflow: hidden;
}

#logout {
  margin: 30vh;
  margin: 10vw;
}

.navLinksDiv {
  border-radius: 5px;
}

.navLinks {
  padding-right: 10%;
}

.navBarLink {
  color: white;
}

.offCanvasMenu {
  width: 20px !important;
}

.canvasHeader {
  background-color: rgb(4, 100, 36);
  color: white;
}

.canvasBody {
  background-color: #F8FCDA;
}

.btn-close {
  outline: none !important;
}

.canvasLink {
  background-color: whitesmoke;
  color: black;
}

a.canvasLink:hover {
  background-color: darkgray;
}

.canvasSearch {
  margin-top: 10px;
}



/* .nav-link {
  width: auto;
  height: fit-auto;
} */
