
<nav class="navbar" style="background-color: #C4C4C4;">
<div class="container-fluid">

    <a class="navbar-brand" [routerLink]="['/home']" >
      <img src="/assets/refreshicon.png" id="logo" alt="Refresh Logo"  >
    </a>
    <div class="navLinksDiv bg-success"><a class="nav-link navBarLink"[routerLink]="['/about']" > About </a></div>
    <div class="navLinksDiv bg-success"><a class="nav-link navBarLink"[routerLink]="['/contact']"> Contact </a></div>
    <div class="navLinksDiv bg-success"><a *ngIf="loggedIn()" class="nav-link navBarLink"[routerLink]="['/recipe']"> Recipes </a></div>
    <div class="searchInputGroup">
    <input type="text" id="searchIput" class="searchTerm" [(ngModel)]="keyword"  placeholder="Search Recipes...">
      <fa-icon id="randIcon" [icon]="randomIcon()" [routerLink]="['/search/' + keyword]"></fa-icon>
    </div>
      <div class="navLinksDiv bg-success"><a *ngIf="!loggedIn()" class="nav-link navBarLink"[routerLink]="['/login']"> Login </a></div>
        <div class="navLinksDiv bg-success"><a *ngIf="!loggedIn()" class="nav-link navBarLink"[routerLink]="['/register']"> Register </a></div>

    <span id="offCanvasMenu" *ngIf="loggedIn()">
      <ng-template #content let-offcanvas>
        <div class="offcanvas-header canvasHeader">
          <h4 class="offcanvas-title">{{user.username}}</h4><br>
          <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
        </div>
        <div class="offcanvas-body canvasBody">
          <h5 class="offcanvas-title">{{user.firstname}} {{user.lastname}}</h5>
          <a  class="nav-link canvasLink"[routerLink]="['/u']" (click)="offcanvas.dismiss('Cross click')"> Profile </a>
          <a  class="nav-link canvasLink"[routerLink]="['/u/{{user.id}}/favorites']" (click)="offcanvas.dismiss('Cross click')"> Favorites </a>
          <!-- <p>Favorites &hellip;</p> -->
          <div class="canvasSearch">
          <input type="text" placeholder="User Search...">
          </div>
          <button id="logout" class="btn btn-secondary" (click)="logOut()" (click)="offcanvas.dismiss('Cross click')"><fa-icon [icon]="faArrowRightFromBracket"></fa-icon> Logout </button>
        </div>
      </ng-template>
      <div *ngIf="user.imageUrl" class="userIconContainer">
        <a class="menuBar" (click)="openEnd(content)">
          <img [src]="user.imageUrl" id="userIcon" alt="User Icon">
        </a>
      </div>
      <div *ngIf="!user.imageUrl" class="userIconContainer">
        <a class="menuBar" (click)="openEnd(content)">
          <img src='../../../assets/userIcon.png' id="userIcon" alt="User Icon" >
        </a>
      </div>
    </span>
  </div>


</nav>

