<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;800&display=swap" rel="stylesheet">
</head>

<body>
  <div class="body">
    <div class="row">

      <div class="col-2"></div>
      <div class="col-8 about-content">

        <h1><strong>404:</strong> Can't cook without fire!</h1>
        <br>

        <h4>You requested an ingredient of our delicious website soup that does not exist.</h4>
        <h4>Please go back and try your recipe again.</h4>
        <br>

        <h1><span class="re">re</span><span class="fresh">fresh</span></h1>

      </div>
      <div class="col-2"></div>

    </div>
  </div>
</body>
</html>

