<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ReFresh | Contact</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;800&display=swap" rel="stylesheet">
</head>

<body background="#e5e5e5">
  <div class="body">
    <div class="row">

      <div class="col-2"></div>
      <div class="col-8 contact-content">

       <h1><span>The </span><span class="re">re</span><span class="fresh">fresh</span><span> Team</span></h1>
        <br>


        <p>Matthew Elmore  <a href="https://www.linkedin.com/in/matthew-elmore/" target="_blank"> <fa-icon id="faLinkedin" [icon]="faLinkedin"></fa-icon></a> <a href="https://github.com/dawabar" target="_blank"><fa-icon id="faGithub" [icon]="faGithub"></fa-icon></a>
        <ul>
          <li>DBA Scientist <fa-icon id="faDatabase" [icon]="faDatabase"></fa-icon> </li>
        </ul>
        <p>Max Goduco <a href="https://www.linkedin.com/in/max-goduco/" target="_blank"> <fa-icon id="faLinkedin" [icon]="faLinkedin"></fa-icon></a> <a href="https://github.com/mgoduco" target="_blank"><fa-icon id="faGithub" [icon]="faGithub"></fa-icon></a>
        <ul>
          <li>Master of everything Git <fa-icon id="faCodeBranch" [icon]="faCodeBranch"></fa-icon></li>
        </ul>
        <p>Christopher Brite <a href="https://www.linkedin.com/in/christopher-brite/" target="_blank"> <fa-icon id="faLinkedin" [icon]="faLinkedin"></fa-icon></a> <a href="https://github.com/cmbrite" target="_blank"><fa-icon id="faGithub" [icon]="faGithub"></fa-icon></a>
        <ul>
          <li>Scrum Lord <fa-icon id="faTimeline" [icon]="faTimeLine"></fa-icon></li>
        </ul>

        <!-- <p><strong>Address:</strong>1600 Pennsylvania Avenue</p>
        <p><strong>City:</strong>Washington</p>
        <p><strong>State:</strong>DC</p>
        <p><strong>Zip:</strong>20500</p> -->
        <br>
        <p><strong><fa-icon [icon]="faEnvelope"></fa-icon></strong>refresh@example.com</p>
        <p><strong><fa-icon [icon]="faTwitter"></fa-icon></strong>@sd33refresh</p>
        <p><strong><fa-icon [icon]="faFacebook"></fa-icon></strong>SD33ReFresh</p>
        <p><strong><fa-icon [icon]="faPhone"></fa-icon></strong>303.555.5234</p>


      </div>
      <div class="col-2"></div>

    </div>
  </div>
</body>
</html>

