<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
</head>

<body>
  <div class="body">
    <div class="row">

      <div class="col-2"></div>
      <div class="col-8 about-content">

        <h1>Finally: Food Freedom.</h1>
        <br>

        <p>Sometimes the hardest part of mealtime is dealing with the cornucopia of ingredients still remaining in your refrigerator, cabinets, and pantry. The overwhelming confusion of combining ingredients into a delicious meal creates frustration that drives us to simply ignore these ingredients, hoping that they will just disappear from our kitchen on their own.</p>

        <p>But this only compounds our issues, when we are forced to throw away spoiled foods, losing money in the process. There has to be a better way to manage our meals and our money.</p>

        <p>You deserve to be able to quickly find a way to combine the ingredients in your home with a few quick grocery-store purchaes to create delicious meals your friends and family will love.</p>

        <p>Our vision is to give you the ease of finding and sharing recipes that use the ingredients you already have. We strive to reduce the barrier to entry for saving money and time while producing memorable meals.</p>

        <p>Free your fridge, fast and fresh.</p>

        <h1><span class="re">re</span><span class="fresh">fresh</span></h1>

      </div>
      <div class="col-2"></div>

    </div>
  </div>
</body>
</html>

