.card-text {
    width: 250px;
    height: 75px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title {
  width: 250px;
  height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.card-title:hover {
  width: auto;
  height: auto;
  white-space: wrap;
  overflow:visible;
}

/* #cards:hover{
background-color: rgb(207, 255, 207);
} */

body {
  background-color: #E5E5E5;
}


