
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>

<body>
  <div *ngIf="!selected">
  <div class="container">
  <div class="row align-items-center">
    <div class="col">
</div>
<div class="col">
  <h2>Welcome</h2>
</div>
<div class="col">

</div>
</div>

  <div class="row" >
    <div *ngFor="let recipe of recipes" class="col-sm-4" >
  <div class="card border-success mb-3" id="cards" style="width: 18rem;" (click)="displayRecipe(recipe)">
  <img [src]="recipe.imageUrl" class="card-img-top" [alt]="recipe.name" >
    <div class="card-body">
      <h5 class="card-title" >{{recipe.name}}</h5>
      <p class="card-text">{{recipe.description}}</p>
    </div>
  </div>
</div>
</div>
</div>

<!-- This section is broken
<div class="container" *ngIf="selected && !displayTable" id="recipeDetails">
  <h4>{{ selected?.name }}</h4>
  <p>{{ recipe?.imageUrl }}</p>
  <p>{{ recipe?.prepminutes }}</p>
  <p>{{ recipe?.cookminutes }}</p>
  <p>{{ recipe?.recipeIngredients }}</p>
  <p>{{ recipe?.description }}</p>

  <button class="btn btn-danger" (click)="displayTable()">
    Back <i class="fa fa-flip-vertical">
   <i class="fa fa-undo fa-spin" aria-hidden="true"></i>
  </i>
  </button>

</div> -->


</div>
</body>

</html>
