<head>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;800&display=swap" rel="stylesheet">
</head>

<div>
    <div class="container" *ngIf="!selected">
      <div class="row align-items-center">
        <div class="col-2">
        </div>
        <div class="col-8">
          <h1>Welcome to <span class="re">re</span><span class="fresh">fresh</span></h1>
        </div>
        <div class="col-2">

        </div>
      </div>
    </div>

    <div class="row align-items-center" id="carouselBox" *ngIf="!selected">
      <!-- __________________________Carousel______________________ -->
      <ngb-carousel class="col-10" id="carousel">
        <ng-template ngbSlide *ngFor="let recipe of recipes" >
          <div class="picsum-img-wrapper" *ngIf="recipe.imageUrl" (click)="displayRecipe(recipe)" (click)="getRecipeComments(recipe.id)">
            <img [src]="recipe.imageUrl" alt="Slides" id="slideImg">
          </div>
          <div class="carousel-caption">
            <h3 id="recipeName">{{recipe.name}}</h3>

          </div>
        </ng-template>

      </ngb-carousel>

      <!-- __________________________Carousel________________________________ -->
  </div>


      <!-- <div class="row align-items-center">
        <div *ngFor="let recipe of recipes" class="col-sm-4">
          <div class="card mb-3" id="cards" (click)="displayRecipe(recipe)" (click)="getRecipeComments(recipe.id)"
            (click)="getIngredientsByrecipe(recipe.id)">
            <img [src]="recipe.imageUrl" class="card-img-top" [alt]="recipe.name">
            <div class="card-body border-secondary">
              <h5 class="card-title">{{recipe.name}}</h5>
              <p class="card-text">{{recipe.description}}</p>
            </div>
          </div>
        </div>
      </div> -->


    <div class="centered" *ngIf="selected" id="recipeDetails">
      <a class="" (click)="displayTable()">
        <fa-icon [icon]="faArrowLeft" (click)="reloadPage()"></fa-icon>
      </a>
      <h4 id="title">{{ selected.name }}</h4>
      <div class="">
      <img [src]="selected.imageUrl" class="recipeImg" [alt]="selected.name">

      <fa-icon id="faHeart" (click)="toggleFavorite()" [icon]="hearted()" class="fa-2x"></fa-icon>
    </div>
      <p><b>Prep Time: </b>{{ selected.prepminutes }}</p>
      <p><b>Cook Time: </b>{{ selected.cookminutes }}</p>
      <h4>Ingredients</h4>

<ul class="list-group list-group-horizontal-sm" *ngFor="let rIngredient of rIngredients">
  <li *ngIf="rIngredient.ingredient" class="list-group-item">{{rIngredient.amount}} {{rIngredient.measure}} <strong> {{rIngredient.ingredient.name}} </strong> {{rIngredient.preparation}}
  </li>
</ul> <br>
      <p id="description">{{ selected.description }}</p>
      <p id="directions">{{ selected.directions }}</p>

      <h4>Comments</h4>
      <div class="commentsDiv">
        <ul class="comments" *ngFor="let comment of comments">
          <p *ngIf="comment.active"> <strong>{{comment.title}}</strong><br>
            <fa-icon *ngIf="loggedIn()" id="faMessageSlash" (click)="deleteComment(comment, selected)" [icon]="famessage" class="fa-2x">
            </fa-icon>{{comment.comment}} <fa-icon *ngIf="loggedIn()" id="faPenToSquare" (click)="open(content)" [icon]="faPenToSquare"></fa-icon>
            <!-- __________________________Modal______________________ -->
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Edit Comment</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="input-group">
                    <div class="form-floating mb-1">
                      <input id="text" class="form-control" placeholder="Title" name="editTitle" value="{{comment.title}}" [(ngModel)]="comment.title" >
                      <label for="editTitle">Title</label>
                      <div class="form-floating mb-1">
                        <input id="textarea" class="form-control" placeholder="Comment" name="editComment" value="{{comment.comment}}" [(ngModel)]="comment.comment">
                        <label for="editComment">Comment</label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark"  (click)="editComment(comment, selected)" (click)="modal.close('Save click')">Save</button>
              </div>
            </ng-template>
            <!-- __________________________Modal______________________ -->
          </p>
        </ul>
      </div>
            <div *ngIf="loggedIn()">
      <div class="input-group input-group-sm mb" id="addComment">
        <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
        <input class="form-control" type="text" id="commentTitle"  #title name="title" placeholder="Title" [(ngModel)]="newComment.title">
      </div>

        <div class="input-group input-group-sm mb" id="addComments">
          <span class="input-group-text" id="inputGroup-sizing-sm">Comment</span>
          <textarea class="form-control" id="newComment" #commmentArea name="commmentArea" placeholder="Comment"
            [(ngModel)]="newComment.comment"></textarea><br>
          <fa-icon id="faComment" (click)="createComment(newComment, selected.id)"  (click)="handleClear()" [icon]="facomment" class="fa-2x">
          </fa-icon>
        </div>
      </div>

    </div>


  </div>


