<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>

<body>
  <div>
    <div class="container-fluid" *ngIf="!selected">
      <div class="row align-items-center">
        <div class="col">
        </div>
        <div class="col">
          <h2>Welcome</h2>
        </div>
        <div class="col">

        </div>
      </div>

      <div class="row">
        <div *ngFor="let recipe of recipes" class="col-sm-4">
          <div class="card mb-3" id="cards" (click)="displayRecipe(recipe)" (click)="getRecipeComments(recipe.id)"
            (click)="getIngredientsByrecipe(recipe.id)">
            <img [src]="recipe.imageUrl" class="card-img-top" [alt]="recipe.name">
            <div class="card-body border-secondary">
              <h5 class="card-title">{{recipe.name}}</h5>
              <p class="card-text">{{recipe.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="centered" *ngIf="selected" id="recipeDetails">
      <a class="" (click)="displayTable()">
        <fa-icon [icon]="faArrowLeft" (click)="reloadPage()"></fa-icon>
      </a>
      <h4 id="title">{{ selected.name }}</h4>
      <div class="">
      <img [src]="selected.imageUrl" class="recipeImg" [alt]="selected.name">

      <fa-icon id="faHeart" (click)="hearted()" [icon]="hearted()" class="fa-2x"></fa-icon>
    </div>
      <p><b>Prep Time: </b>{{ selected.prepminutes }}</p>
      <p><b>Cook Time: </b>{{ selected.cookminutes }}</p>
      <h5>Ingredients</h5>
      <ul class="ingredients" *ngFor="let ingredient of ingredients">
        <li>{{ingredient.name}}</li>
      </ul>
      <p id="description">{{ selected.description }}</p>
      <p id="directions">{{ selected.directions }}</p>

      <h4>Comments</h4>
      <div class="commentsDiv">
        <ul class="comments" *ngFor="let comment of comments">
          <p *ngIf="comment.active"> <strong>{{comment.title}}</strong><br>
            <fa-icon *ngIf="loggedIn()" id="faMessageSlash" (click)="deleteComment(comment, selected)" [icon]="famessage" class="fa-2x">
            </fa-icon>{{comment.comment}}
          </p>
        </ul>
      </div>
      <div *ngIf="loggedIn()">
      <div class="input-group input-group-sm mb" id="addComment">
        <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
        <input class="form-control" type="text" id="commentTitle"  #title name="title" placeholder="Title" [(ngModel)]="newComment.title">
      </div>

        <div class="input-group input-group-sm mb" id="addComments">
          <span class="input-group-text" id="inputGroup-sizing-sm">Comment</span>
          <textarea class="form-control" id="newComment" #commmentArea name="commmentArea" placeholder="Comment"
            [(ngModel)]="newComment.comment"></textarea><br>
          <fa-icon id="faComment" (click)="createComment(newComment, selected.id)"  (click)="handleClear()" [icon]="facomment" class="fa-2x">
          </fa-icon>
        </div>
      </div>

    </div>


  </div>
</body>

</html>
