body {
  background-color: #E5E5E5;
}

#cards {
  width: auto;
  height: auto;
}
.topmiddle {
  position: fixed;
  top: 25%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
  .recipeImg{
    height: auto;
    width: 50vw;
    border-radius: 8%;
  }
  .centered {
    position: static;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    padding-right: 95px;
    padding-left: 95px;
  }
  #description {
    width: 50vw;
  height: auto;
  white-space: wrap;
  }

  #directions {
    width: 50vw;
  height: auto;
  white-space: wrap;
  }

  #title {
    text-align: center;
  }




