<body>

<div class="container-fluid" >

  <br><br>
  <div class="row">
  <div>
   <button id="create" *ngIf="!isCreateTableSelected && !selected" class="btn btn-success" (click)="displayCreateTable(true)">Create New Recipe</button>
  </div></div>


<br><br>

          <!-- ====================================================================       CREATE      ==================================================================== -->


<div class="centeredBorder" *ngIf="isCreateTableSelected" id="createRecipe">
  <a class="" (click)="displayTable()">
  <fa-icon [icon]="faArrowLeft"></fa-icon>
  </a>

  <form class="centered" id="editform" centered="form-floating mb-3">
    <img ng src="/assets/default_recipe.png" class="recipeImg"><br><br>
    <div class="container-fluid">

    <div class="form-floating mb-1">
      <input  class="form-control" type="text" name="task" placeholder="Image Url" [(ngModel)]="newRecipe.imageUrl" /> <br />
      <label for="imageUrl"><strong>Image Url:</strong></label>
    </div>

    <div class="form-floating mb-1">
    <input class="form-control" type="text" name="task" placeholder="Recipe Name" [(ngModel)]="newRecipe.name" /> <br />
    <label for="name"><strong>Recipe Name:</strong></label>
  </div>

    <div class="form-floating mb-1">
    <textarea id="textarea" class="form-control" type="text" name="description" placeholder="Recipe Description" [(ngModel)]="newRecipe.description" ></textarea> <br>
    <label for="description"><strong>Recipe Description:</strong></label>
  </div>

    <div class="form-floating mb-1">
    <textarea id="textarea" class="form-control" type="text" name="directions"  placeholder="Recipe Directions" [(ngModel)]="newRecipe.directions" ></textarea> <br>
    <label for="directions"><strong>Directions:</strong></label>
  </div>


    <div class="form-floating mb-1">
      <input class="form-control" type="number" name="prepminutes" placeholder="Prep Minutes" [(ngModel)]="newRecipe.prepminutes" /> <br>
      <label for="prepminutes"><strong>Prep Minutes:</strong></label>
    </div>

    <div class="form-floating mb-1">
      <input class="form-control" type="number" name="cookminutes" placeholder="Cook Minutes" [(ngModel)]="newRecipe.cookminutes" /> <br>
      <label for="cookminutes"><strong>Cook Minutes:</strong></label>
  </div>
    <!-- <label class="form-label" for="directions">Completed</label>
    <input class="form-control" type="text" name="directions" [(ngModel)]="newRecipe.directions" /> <br> -->
    <button class="btn btn-danger buttonpad" (click)="displayTable()">Cancel</button>
    <button class="btn btn-success buttonpad"  (click)="createRecipe(newRecipe)">Create New Recipe</button>
    </div>
  </form>

</div>

          <!-- ====================================================================       CARDS      ==================================================================== -->


<div class="container-fluid" *ngIf="!selected && !isCreateTableSelected">
  <div class="row align-items-center">
    <div class="col">
</div>
<div class="col">
</div>
<div class="col">

</div>
</div>

  <div class="row" >
    <div *ngFor="let recipe of recipes" class="col-sm-4" >
  <div class="card mb-3" id="cards" (click)="displayRecipe(recipe)">
  <img [src]="recipe.imageUrl" class="card-img-top" [alt]="recipe.name" >
    <div class="card-body border-secondary">
      <h5 class="card-title" >{{recipe.name}}</h5>
      <p class="card-text">{{recipe.description}}</p>
    </div>
    <button class="btn btn-success" (click)="displayUpdateTable(recipe)">Update Recipe</button>
    <button class="btn btn-danger" (click)="deleteRecipe(recipe.id)">Delete Recipe</button>
  </div>
</div>
</div>
</div>

          <!-- ====================================================================       DISPLAY      ==================================================================== -->


<div >
<div class="centered" *ngIf="selected && !editSelected" id="recipeDetails">
  <a class="" (click)="displayTable()">
  <fa-icon [icon]="faArrowLeft"></fa-icon>
  </a>
  <h4 id="title">{{ selected.name }}</h4>
  <p><img [src]="selected.imageUrl" class="recipeImg" [alt]="selected.name" ></p>

<h4>Ingredients</h4>

<ul class="list-group list-group-horizontal-sm" *ngFor="let rIngredient of rIngredients">
  <li *ngIf="rIngredient.ingredient" class="list-group-item">{{rIngredient.amount}} {{rIngredient.measure}} <strong> {{rIngredient.ingredient.name}} </strong> {{rIngredient.preparation}}
  </li>
</ul> <br>

  <p><b>Prep Time: </b>{{ selected.prepminutes }}</p>
  <p><b>Cook Time: </b>{{ selected.cookminutes }}</p>
  <p id="description">{{ selected.description }}</p>
  <p id="directions">{{ selected.directions }}</p>

  <p id="comments"></p>

</div>
</div>

          <!-- ====================================================================       DISPLAY      ==================================================================== -->



<div id="recipeBox">
<div id="updateRecipe">
  <div class="centered" *ngIf="editSelected " id="recipeDetails">

    <a class="" (click)="displayTable()">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>

    <form class="centered" id="editform" centered="form-floating mb-3">
      <img  src="{{ editSelected.imageUrl }}" class="recipeImg"><br><br>
      <div class="container-fluid">

        <div class="row">
            <!-- <button id="addIngredient" class="btn btn-success" (click)="displayAddIngredient(true)"(click)="open(content)">Add Ingredient</button> -->
            <button id="addIngredient" class="btn btn-success" (click)="open(content)">Add Ingredient</button>
            <!-- <button id="addIngredient" class="btn btn-danger" (click)="displayAddIngredient(false)">Cancel</button> -->
         </div> <br>


          <!-- ====================================================================       MODAL      ==================================================================== -->
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Add New Ingredient</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
              <!-- FORM GOES HERE -->
              <form class="mcentered" action="" centered="form-floating mb-3">
                <div class="btn-group" >

                  <label class="btn btn-secondary" >Ingredient Measure:</label> <br>

                  <input class="btn-check" type="radio" name="measure" id="pinch" value="pinch" [(ngModel)]="newRecipeIngredient.measure">
                  <label class="btn btn-outline-secondary" for="pinch"><strong>Pinch</strong></label>
                  <!-- <label class="btn btn-secondary" for="option1">Checked</label> -->
                  <input class="btn-check"type="radio" name="measure" id="dash" value="dash"[(ngModel)]="newRecipeIngredient.measure">
                  <label class="btn btn-outline-secondary" for="dash"><strong>Dash</strong></label>

                  <input class="btn-check"type="radio" name="measure" id="tsp" value="Tsp"[(ngModel)]="newRecipeIngredient.measure">
                  <label class="btn btn-outline-secondary" for="tsp"><strong>Tsp</strong></label>

                  <input class="btn-check" type="radio" name="measure" id="tbsp"  value="Tbsp"[(ngModel)]="newRecipeIngredient.measure">
                  <label class="btn btn-outline-secondary" for="tbsp"><strong>Tbsp</strong></label>

                  <input class="btn-check"type="radio" name="measure" id="oz"  value="oz"[(ngModel)]="newRecipeIngredient.measure">
                  <label class="btn btn-outline-secondary" for="oz"><strong>Oz</strong></label>

                  <input class="btn-check"type="radio" name="measure" id="g" value="Pound(s)"[(ngModel)]="newRecipeIngredient.measure">
                  <label class="btn btn-outline-secondary" for="g"><strong>Pound</strong></label>
                </div><br> <br>

              <div class="form-floating mb-1">
                <select [(ngModel)]="ingredient" class="form-select" aria-label="Default select example" name="ingredient" id="">
                    <option selected *ngFor="let ingredient of allingredients" [ngValue]="ingredient">{{ingredient.name}}</option>
                  </select>
              </div> <br>

              <div class="form-floating mb-1">
                <input class="form-control"  type="number" name="amount" id="amount" [(ngModel)]="newRecipeIngredient.amount"><br>
                <label for="amount"><strong>Ingredient Amount:</strong></label>
              </div>
              <div class="form-floating mb-1">
                <input class="form-control" type="text" name="preparation" id="preparation" [(ngModel)]="newRecipeIngredient.preparation"><br>
                <label for="preparation"><strong>Ingredient Preparation:</strong></label>
              </div>
            </form >
            <!-- FORM GOES HERE -->
          </div>
          <div class="modal-footer">
              <button class="btn btn-success buttonpad"  (click)="createRecipeIngredient(newRecipeIngredient, editSelected, ingredient)">+</button>
              <!-- <button type="button" class="btn btn-outline-dark"   (click)="modal.close('Save click')">Save</button> -->
            </div>
          </ng-template>
          <!-- ====================================================================       MODAL      ==================================================================== -->

        <!-- <div *ngIf="addIng">
          <form class="centered" action="" centered="form-floating mb-3">
            <div class="btn-group" >

              <label class="btn btn-secondary" >Ingredient Measure:</label> <br>

              <input class="btn-check" type="radio" name="measure" id="pinch" value="pinch" [(ngModel)]="newRecipeIngredient.measure">
              <label class="btn btn-outline-secondary" for="pinch"><strong>Pinch</strong></label>

              <input class="btn-check"type="radio" name="measure" id="dash" value="dash"[(ngModel)]="newRecipeIngredient.measure">
              <label class="btn btn-outline-secondary" for="dash"><strong>Dash</strong></label>

              <input class="btn-check"type="radio" name="measure" id="tsp" value="Tsp"[(ngModel)]="newRecipeIngredient.measure">
              <label class="btn btn-outline-secondary" for="tsp"><strong>Tsp</strong></label>

              <input class="btn-check" type="radio" name="measure" id="tbsp"  value="Tbsp"[(ngModel)]="newRecipeIngredient.measure">
              <label class="btn btn-outline-secondary" for="tbsp"><strong>Tbsp</strong></label>

              <input class="btn-check"type="radio" name="measure" id="oz"  value="oz"[(ngModel)]="newRecipeIngredient.measure">
              <label class="btn btn-outline-secondary" for="oz"><strong>Oz</strong></label>

              <input class="btn-check"type="radio" name="measure" id="g" value="Pound(s)"[(ngModel)]="newRecipeIngredient.measure">
              <label class="btn btn-outline-secondary" for="g"><strong>Pound</strong></label>
            </div><br> <br>

  <div class="form-floating mb-1">
    <select [(ngModel)]="ingredient" class="form-select" aria-label="Default select example" name="ingredient" id="">
        <option selected *ngFor="let ingredient of allingredients" [ngValue]="ingredient">{{ingredient.name}}</option>
      </select>
  </div> <br>

  <div class="form-floating mb-1">
    <input class="form-control"  type="number" name="amount" id="amount" [(ngModel)]="newRecipeIngredient.amount"><br>
    <label for="amount"><strong>Ingredient Amount:</strong></label>
  </div>
  <div class="form-floating mb-1">
    <input class="form-control" type="text" name="preparation" id="preparation" [(ngModel)]="newRecipeIngredient.preparation"><br>
    <label for="preparation"><strong>Ingredient Preparation:</strong></label>
  </div>

  <button class="btn btn-success buttonpad"  (click)="createRecipeIngredient(newRecipeIngredient, editSelected, ingredient)">+</button>
</form >
</div> -->

          <!-- ====================================================================       ADD INGREDIENT END      ==================================================================== -->


<ul class="list-group list-group-horizontal-sm" *ngFor="let rIngredient of rIngredients">
  <li   *ngIf="rIngredient.ingredient" class="list-group-item"> {{rIngredient.amount}} {{rIngredient.measure}} <strong> {{rIngredient.ingredient.name}} </strong> {{rIngredient.preparation}}
   <button class="btn btn-danger" (click)="removeRecipeIngredient(editSelected, rIngredient.ingredient)">X</button>
  </li>

</ul> <br>

<div class="form-floating mb-1">
  <input id="updatetexturl" class="form-control" type="text" name="imageUrl" placeholder="Image Url" value="{{ editSelected.imageUrl }}" [(ngModel)]="editSelected.imageUrl" /> <br />
  <label id="updatetexturl" for="imageUrl"><strong>Recipe ImageURL:</strong></label>
    </div>

    <div class="form-floating mb-1">
      <input class="form-control" type="text" name="name" placeholder="Recipe Name" value="{{ editSelected.name }}" [(ngModel)]="editSelected.name" /> <br />
      <label for="name"><strong>Recipe Name:</strong></label>
    </div>

    <div class="form-floating mb-1">
      <textarea id="updatetextdesc" class="form-control" type="text" name="description" placeholder="Recipe Description" value="{{ editSelected.description }}" [(ngModel)]="editSelected.description" ></textarea> <br>
      <label for="description"><strong>Recipe Description:</strong></label>
    </div>

    <div class="form-floating mb-1">
      <textarea id="updatetextarea" class="form-control" type="text" name="directions"  placeholder="Recipe Directions" value="{{ editSelected.directions }}" [(ngModel)]="editSelected.directions" ></textarea> <br>
    <label for="directions"><strong>Recipe Directions:</strong></label>
  </div>


  <div class="form-floating mb-1">
    <input class="form-control" type="number" name="prepminutes" placeholder="Prep Minutes" value="{{ editSelected.prepminutes }}" [(ngModel)]="editSelected.prepminutes" /> <br>
    <label for="prepminutes"><strong>Prep Minutes:</strong></label>
  </div>


    <div class="form-floating mb-1">
      <input class="form-control" type="number" name="cookminutes" placeholder="Cook Minutes" value="{{ editSelected.cookminutes }}" [(ngModel)]="editSelected.cookminutes" /> <br>
      <label for="cookminutes"><strong>Cook Minutes:</strong></label>
  </div>
    <!-- <label class="form-label" for="directions">Completed</label>
    <input class="form-control" type="text" name="directions" [(ngModel)]="newRecipe.directions" /> <br> -->
    <button class="btn btn-danger buttonpad" (click)="displayTable()">Cancel</button>
    <button class="btn btn-success buttonpad"  (click)="updateRecipe(editSelected)">Update Recipe</button>
    </div>
  </form>

</div>
</div>


</div>
</div>
</body>
          <!-- ====================================================================       GRAVEYARD      ==================================================================== -->


      <!-- <input type="text" class="form-control" list="datalist1" [(ngModel)]='currentUser' (change)="selected(currentUser)"/>

   <div class="form-floating mb-1">
      <input class="form-control" list="allingredients" type="text" [(ngModel)]="ingredient" name="ingredient" >
      <datalist id="allingredients">
        <option  *ngFor="let ingredient of allingredients" [value]="ingredient.name">
          {{ingredient.name}}</option>
        </datalist>
   </div> <br> -->


<!-- <ul>
  <li *ngFor="let group of hueGroups">
  {{group.name}}
  <ul>
      <li *ngFor="let light of group.lights">
      {{light.name}}
      </li>
  </ul>
  </li>
</ul> -->


<!-- <ul class="list-group list-group-horizontal-sm" *ngFor="let rIngredient of rIngredients">
  <li class="list-group-item"><span class="badge badge-danger badge-pill">{{rIngredient.amount}}</span></li>
  <li class="list-group-item"><span class="badge badge-danger badge-pill">{{rIngredient.amount}}</span>{{rIngredient.measure}}</li>
  <li class="list-group-item"><strong>{{rIngredient.ingredient.name}}</strong></li>
  <li class="list-group-item">{{rIngredient.preparation}}</li>
</ul> <br> -->

    <!-- <ul id="ulfor" *ngFor="let rIngredient of rIngredients">
      <li> {{rIngredient.ingredient.name}} </li>
      <ul>
      <li> {{rIngredient.amount}} </li>
      <li> {{rIngredient.preparation}} </li>
      <li> {{rIngredient.measure}} </li>
      </ul>
    </ul> -->
