body {
  background-color: #E5E5E5;
  /* margin-bottom: 10vh; */
  padding-bottom: 100px;
}


#create {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cards {
  width: auto;
  height: auto;
  box-shadow: 0 0 5px #888888;
  z-index: 0;
}
#editForm{
  text-align: left;
}

#textarea {
  height: 150px;
}

#updatetextarea {
  height: 300px;
}
#updatetextdesc {
  height: 200px;
}
#updatetexturl {
  height: auto;
}

#createRecipe {
border-style: solid;
border-color: grey;
border-width: 2px;
box-shadow: 0 0 10px #888888;
background-color: whitesmoke;
border-spacing: 75px;
margin-bottom: 100px;

}
#recipeBox {
margin-left: 15%;
margin-right: 15%;
border-style: solid;
border-color: grey;
border-width: 2px;
box-shadow: 0 0 10px #888888;
background-color: #f5f5f5;
border-spacing: 75px;

}
#addIngredient {
  margin-block-start: auto;
  width: fit-content;
}

.btn-group {
  width: fit-content;
  color: #2e8754;
  background-color: #2e8754;

}
.btn-secondary {
  background-color: #2e8754;
  transition: #2e8754 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
.btn-outline-secondary {
  color: #f5f5f5;
  border-color: #2e8754;
  transition: #2e8754 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.list-group-item {
  background-color:#f5f5f5;
  border: none;
}

.badge {
  color: black;
}

.card-img-top{
  width: auto;
  height: 40vh;
}

.card-title {
  width: auto;
  height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
    width:auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 60%;
  }

  .recipeImg{
    position: relative;
    display: block;
    height: 35vw;
    width: 50vw;
    border-radius: 3%;
  }

  #description {
    width: 50vw;
  height: auto;
  white-space: wrap;
  }

  #directions {
    width: 50vw;
  height: auto;
  white-space: wrap;
  }

  .buttonpad {
    margin:  10px;
  }

  .centeredBorder {
    margin: auto;
    width: 60vw;
    padding: 15px;
  }
  .centered {
    margin: auto;
    width: 50vw;
  }
  .mcentered {
    margin: auto;
    width: 30vw;
  }
  .ulfor {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

  #title {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
#updateButton{
  font-size: 2vw;
  position: absolute;
  padding: 0;
  z-index: 1;
  padding-left: 0.5%;
  right: 26vw;
  color: #2e8754;
}
#deleteButton{
  font-size: 2vw;
  position: absolute;
  padding: 0;
  z-index: 1;
  padding-right: 0.5%;
  left: 26vw;
  color: rgba(255, 0, 0, 0.744);
}

#commentTitle {
  width: 40vw;
  height: auto;
}

#newComment {
  width: 40vw;
  height: 20vw;
  z-index: 0;
}


#faMessageSlash {
  font-size: 2em;
  padding-right: 5%;
  text-align: right;
}

#faComment {
  font-size: 5vw;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
  z-index: 1;
  padding-right: 2%;
}


