<body>

<div class="container-fluid" >

  <br><br>
  <div class="row">
  <div>
   <button id="create" *ngIf="!isCreateTableSelected && !selected" class="btn btn-success" (click)="displayCreateTable(true)">Create New Recipe</button>
  </div></div>


<br><br>

<div class="centeredBorder" *ngIf="isCreateTableSelected" id="createRecipe">
  <a class="" (click)="displayTable()">
  <fa-icon [icon]="faArrowLeft"></fa-icon>
  </a>

  <form class="centered" id="editform" centered="form-floating mb-3">
    <img ng src="/assets/default_recipe.png" class="recipeImg"><br><br>
    <div class="container-fluid">





    <div class="form-floating mb-1">
      <input  class="form-control" type="text" name="task" placeholder="Image Url" [(ngModel)]="newRecipe.imageUrl" /> <br />
      <label for="imageUrl"><strong>Image Url:</strong></label>
    </div>

    <div class="form-floating mb-1">
    <input class="form-control" type="text" name="task" placeholder="Recipe Name" [(ngModel)]="newRecipe.name" /> <br />
    <label for="name"><strong>Recipe Name:</strong></label>
  </div>

    <div class="form-floating mb-1">
    <textarea id="textarea" class="form-control" type="text" name="description" placeholder="Recipe Description" [(ngModel)]="newRecipe.description" ></textarea> <br>
    <label for="description"><strong>Recipe Description:</strong></label>
  </div>

    <div class="form-floating mb-1">
    <textarea id="textarea" class="form-control" type="text" name="directions"  placeholder="Recipe Directions" [(ngModel)]="newRecipe.directions" ></textarea> <br>
    <label for="directions"><strong>Directions:</strong></label>
  </div>


    <div class="form-floating mb-1">
      <input class="form-control" type="number" name="prepminutes" placeholder="Prep Minutes" [(ngModel)]="newRecipe.prepminutes" /> <br>
      <label for="prepminutes"><strong>Prep Minutes:</strong></label>
    </div>

    <div class="form-floating mb-1">
      <input class="form-control" type="number" name="cookminutes" placeholder="Cook Minutes" [(ngModel)]="newRecipe.cookminutes" /> <br>
      <label for="cookminutes"><strong>Cook Minutes:</strong></label>
  </div>
    <!-- <label class="form-label" for="directions">Completed</label>
    <input class="form-control" type="text" name="directions" [(ngModel)]="newRecipe.directions" /> <br> -->
    <button class="btn btn-danger buttonpad" (click)="displayTable()">Cancel</button>
    <button class="btn btn-success buttonpad"  (click)="createRecipe(newRecipe)">Create New Recipe</button>
    </div>
  </form>

</div>

<div class="container-fluid" *ngIf="!selected && !isCreateTableSelected">
  <div class="row align-items-center">
    <div class="col">
</div>
<div class="col">
</div>
<div class="col">

</div>
</div>

  <div class="row" >
    <div *ngFor="let recipe of recipes" class="col-sm-4" >
  <div class="card mb-3" id="cards" (click)="displayRecipe(recipe)">
  <img [src]="recipe.imageUrl" class="card-img-top" [alt]="recipe.name" >
    <div class="card-body border-secondary">
      <h5 class="card-title" >{{recipe.name}}</h5>
      <p class="card-text">{{recipe.description}}</p>
    </div>
    <button class="btn btn-success" (click)="displayUpdateTable(recipe)">Update Recipe</button>
    <button class="btn btn-danger" (click)="deleteRecipe(recipe.id)">Delete Recipe</button>
  </div>
</div>
</div>
</div>

<div class="centered" *ngIf="selected && !editSelected" id="recipeDetails">
  <a class="" (click)="displayTable()">
  <fa-icon [icon]="faArrowLeft"></fa-icon>
  </a>
  <h4 id="title">{{ selected.name }}</h4>
  <p><img [src]="selected.imageUrl" class="recipeImg" [alt]="selected.name" ></p>

<h4>Ingredients</h4>


  <ul   *ngFor="let ingredient of ingredients">
    <li  >{{ingredient.name}} </li>
  </ul>

  <p><b>Prep Time: </b>{{ selected.prepminutes }}</p>
  <p><b>Cook Time: </b>{{ selected.cookminutes }}</p>
  <p id="description">{{ selected.description }}</p>
  <p id="directions">{{ selected.directions }}</p>

  <p id="comments"></p>

</div>


<div id="updateRecipe">
<div class="centered" *ngIf="editSelected " id="recipeDetails">

  <a class="" (click)="displayTable()">
  <fa-icon [icon]="faArrowLeft"></fa-icon>
  </a>

  <form class="centered" id="editform" centered="form-floating mb-3">
    <img  src="{{ editSelected.imageUrl }}" class="recipeImg"><br><br>
    <div class="container-fluid">

      <div class="row">
        <div>
         <button id="addIngredient" class="btn btn-success" (click)="displayAddIngredient(true)">Add Ingredient</button>
         <button id="addIngredient" class="btn btn-danger" (click)="displayAddIngredient(false)">Cancel</button>
        </div></div> <br>

  <div *ngIf="addIng">
    <form class="centered" action="" centered="form-floating mb-3">
        <div >
          <label >Ingredient Measure:</label> <br>
          <input type="radio" name="pinch" id="pinch">
          <label for="pinch"><strong>Pinch</strong></label>
          <input type="radio" name="dash" id="dash">
          <label for="dash"><strong>Dash</strong></label>
          <input type="radio" name="tsp" id="tsp">
          <label for="tsp"><strong>Tsp</strong></label>
          <input type="radio" name="tbsp" id="tbsp">
          <label for="tbsp"><strong>Tbsp</strong></label>
          <input type="radio" name="oz" id="oz">
          <label for="oz"><strong>Oz</strong></label>
          <input type="radio" name="g" id="g">
          <label for="g"><strong>Pound</strong></label>
        </div><br>

  <div class="form-floating mb-1">
    <input class="form-control" list="allingredients" type="text" name="ingredient">
    <label for="allingredients"><strong>Ingredient:</strong></label>
    <datalist id="allingredients">
      <option *ngFor="let ingredient of allingredients" data-tokens=>{{ingredient.name}}</option>
    </datalist>
  </div> <br>

  <div class="form-floating mb-1">
    <input class="form-control"  type="number" name="amount" id="amount"><br>
    <label for="amount"><strong>Ingredient Amount:</strong></label>
    </div>
    <div class="form-floating mb-1">
    <input class="form-control" type="text" name="preparation" id="preparation"><br>
    <label for="preparation"><strong>Ingredient Preparation:</strong></label>
  </div>
  <!-- <button class="btn btn-success buttonpad"  (click)="createRecipeIngredient(rIng ,ingredient.id, editSelected.id)">Add Ingredient</button> -->
  </form>
</div>

    <ul class="ingredients" *ngFor="let ingredient of ingredients">
        <li>{{ingredient.name}} <button class="btn btn-danger" (click)="removeIngredient(ingredient.id)"  > X</button> </li>
    </ul>

    <div class="form-floating mb-1">
    <input id="updatetexturl" class="form-control" type="text" name="imageUrl" placeholder="Image Url" value="{{ editSelected.imageUrl }}" [(ngModel)]="editSelected.imageUrl" /> <br />
    <label id="updatetexturl" for="imageUrl"><strong>Recipe ImageURL:</strong></label>
    </div>

    <div class="form-floating mb-1">
    <input class="form-control" type="text" name="name" placeholder="Recipe Name" value="{{ editSelected.name }}" [(ngModel)]="editSelected.name" /> <br />
    <label for="name"><strong>Recipe Name:</strong></label>
  </div>

    <div class="form-floating mb-1">
    <textarea id="updatetextdesc" class="form-control" type="text" name="description" placeholder="Recipe Description" value="{{ editSelected.description }}" [(ngModel)]="editSelected.description" ></textarea> <br>
    <label for="description"><strong>Recipe Description:</strong></label>
  </div>

    <div class="form-floating mb-1">
    <textarea id="updatetextarea" class="form-control" type="text" name="directions"  placeholder="Recipe Directions" value="{{ editSelected.directions }}" [(ngModel)]="editSelected.directions" ></textarea> <br>
    <label for="directions"><strong>Recipe Directions:</strong></label>
  </div>


    <div class="form-floating mb-1">
      <input class="form-control" type="number" name="prepminutes" placeholder="Prep Minutes" value="{{ editSelected.prepminutes }}" [(ngModel)]="editSelected.prepminutes" /> <br>
      <label for="prepminutes"><strong>Prep Minutes:</strong></label>
    </div>

    <div class="form-floating mb-1">
      <input class="form-control" type="number" name="cookminutes" placeholder="Cook Minutes" value="{{ editSelected.cookminutes }}" [(ngModel)]="editSelected.cookminutes" /> <br>
      <label for="cookminutes"><strong>Cook Minutes:</strong></label>
  </div>
    <!-- <label class="form-label" for="directions">Completed</label>
    <input class="form-control" type="text" name="directions" [(ngModel)]="newRecipe.directions" /> <br> -->
    <button class="btn btn-danger buttonpad" (click)="displayTable()">Cancel</button>
    <button class="btn btn-success buttonpad"  (click)="updateRecipe(editSelected)">Update Recipe</button>
    </div>
  </form>

</div>
</div>


</div>
</body>
