.body-div {
  background-color: #E5E5E5;
  height: 100vh;
  padding-bottom: 5%;
}

.col {
  padding-left: 0%;
  padding-right: 0%;
}

#cards {
  width: auto;
  height: auto;
  box-shadow: 0 0 5px #888888;
}

.card-img-top{
  width: auto;
  height: 40vh;
}

.card-title {
  width: auto;
  height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
    width:auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 60%;
  }

  .recipeImg{
    height: auto;
    width: 50vw;
    border-radius: 3%;
  }

  #description {
    width: 50vw;
  height: auto;
  white-space: wrap;
  }

  #directions {
    width: 50vw;
  height: auto;
  white-space: wrap;
  }

  .centered {
    margin: auto;
    width: 50vw;
  }

  #title {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  #commentTitle {
    width: 40vw;
    height: auto;
  }

  #newComment {
    width: 40vw;
    height: 20vw;
    z-index: 0;
  }


  #faMessageSlash {
    font-size: 2em;
    padding-right: 5%;
    text-align: right;
  }

  #faComment {
    font-size: 5vw;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    z-index: 1;
    padding-right: 2%;
  }





