/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

.offcanvas-end {
  /* top: 0;
  right: 0; */
  width: 20vw;
  /* border-left: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(100%); */
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: black 0 0 10px;
}

